{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">

    <p>Les bugs sont à transmettre sur <a href="https://github.com/Seb35/Archeo-Lex-web/issues">GitHub</a>.</p>

    <p>Sinon, comme tu peux t’en rendre compte, le graphisme est à améliorer, n’hésites pas à me contacter sur s e b 3 5 <span style="display:none">rouge</span>@<span class="jowjgoiwjoi">example.</span> seb35.fr.</p>

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
