<footer>
    <p>Fonctionne grâce à une version adaptée de <a href="https://github.com/klaussilveira/gitlist">GitList 1.0.1</a> (<a href="https://github.com/Seb35/Archeo-Lex-web">code source</a>, <a href="https://github.com/Seb35/Archeo-Lex-web/issues">rapporter un bug</a>).<br />Les données sont issues d’un traitement des données en <a href="https://www.dila.premier-ministre.gouv.fr/repertoire-des-informations-publiques/les-donnees-juridiques">Open Data</a> de <a href="https://www.dila.premier-ministre.gouv.fr">la DILA</a>, notamment la base LEGI.</p>
</footer>
