<footer>
    <p>Fonctionne grâce à <a href="https://github.com/klaussilveira/gitlist">GitList 1.0.1</a> (<a href="https://github.com/klaussilveira/gitlist">code source</a>, <a href="https://github.com/klaussilveira/gitlist/issues">rapporter un bug</a>)</p>
</footer>
