<footer>
    <p>Propulsé par <a href="https://github.com/klaussilveira/gitlist">GitList 0.5.0</a> (<a href="https://github.com/klaussilveira/gitlist">code source</a>, <a href="https://github.com/klaussilveira/gitlist/issues">rapporter un bug</a>)</p>
</footer>
