{% extends 'layout.twig' %}
{% block title %}Liste des codes - Archéo Lex{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">

    {% for repository in repositories %}
    <div class="repository">
        <div class="repository-header">
            <span class="fa fa-folder-open"></span>  <a href="{{ path('summaryrepo', {repo: repository.name | replace({'.git': ''})}) }}">{{ repository.name | replace({'codes/':'', '.git':'', '_':' ', '-':' '}) | capitalize }}</a>
        </div>
        {% if repository.description and not repository.description starts with 'Unnamed repository' %}
        <div class="repository-body">
            <p>{{ repository.description }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <hr />

    {% include 'footer.twig' %}
</div>
{% endblock %}
