<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Basculer la navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Archéo Lex</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://archeo-lex.fr#fonctionnement">Aide</a></li>
                <li><a href="https://github.com/Seb35/Archeo-Lex/issues">Rapporter un problème</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
